header {
    background-color:rgb(137, 187, 204);
    position: fixed;
    margin-top: -1%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#mainDropdownContainer {
    position: absolute;
    left: 1%;
    top: 25%;
}

#gameContainer {
    position: relative;
    top: 80px;
}



