.mainBkg {
    background-color: rgb(137, 187, 204)
}

.flex {
    display: flex;
}

.alignCenter {
    align-items: center;
}

.justifyCenter {
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

body {
    background-color:bisque;
}

header {
    position: fixed;
    margin-top: -1%;
    margin-left: -1%;
    width: 101%;
    height: 80px;
    z-index: 1;
}

#mainDropdownContainer {
    position: absolute;
    left: 1%;
    top: 25%;
}

#mainContainer {
    display: grid;
    grid-template-columns: 85% 15%;
}

#gameContainer {
    position: relative;
    top: 80px;
}

#deckNameContainer {
    width: 400px;
    border: 1px solid black;
    margin: 10px;
}

#deckName {
    font-size: 1.5em;
    font-weight: bolder;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(137, 187, 204);
    border: 1px solid black;
    width: 75px;
    margin: 5px;
}

#flashcardContainer {
    width: 600px;
    height: 250px;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    background-color: rgb(69, 166, 198);
    border: 1px solid black;
    border-radius: 3px;
    width: 100px;
    height: 25px;
}

.buttons:hover {
    background-color: rgb(137, 187, 204)
}

#buttonsContainer {
    width: 600px;
    background-color: beige;
    display: flex;
    justify-content: space-around;
}

#deckMenu {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

#instructionsContainer {
    margin-top: 20px;
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(169, 169, 153);
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(137, 187, 204);
    margin: 10px;
    width: 60%;
}

label {
    display: block;
}

input {
    margin-bottom: 10px;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.centeredContainer {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#noteContainer {
    margin-top: 10px;
}

textarea {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

#deckList div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#deckList input[type="radio"] {
    margin-right: 5px;
}